<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>TaskCute</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>Menú</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Acerca de</span>
    </button>
    <button mat-menu-item>
      <mat-icon>contact_mail</mat-icon>
      <span>Contacto</span>
    </button>
  </mat-menu>
</mat-toolbar>
<br>
<br>
